/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: #8A8A8A;
    font-family: 'Montserrat', sans-serif;
}

/* Container web page */
.container{
    width: 1280px;
    margin: 20px auto;
}


/* Debug Zone*/
/* .debug header{
    background-color: #E57AE3;
    min-height: 100px;
} */

/* .debug .big-ph{
    background-color: #E1D57A;
    min-height: 400px;
} */

.debug .float-elem{
    background-color: #0781FB;
}

.debug .top-col{
    background-color: #ABCFE6;
    min-height: 80px;
}

.debug .left-col , .debug .right-col{
    background-color: #ABCFE6;
    min-height: 500px;
}

.debug .mid-col{
    background-color: #ABCFE6;
    min-height: 500px;
}

.debug footer{
    background-color: #8901FF;
    height: 50px;
}
/* /Debug Zone*/ 


/* Header */

#logo{
    width: 165px;
}

/* List item spacing */
header ul li{
    display: inline-block;
    list-style: none;
    padding-top: 40px;
    padding-right: 15px; 
}

.hyperlink{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
}

/* Jumbotron section */
.big-ph{
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    top: 0;
    left: 0;
}

/* Main image */
#banner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Black-trasperent layer */
.lay-over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Little title on the img */
.min-title{
    position: absolute;
    width: 50%;
    top: 60%;
    left: 5%;
    color: white;
}

.min-title h2{
    font-weight:300;
    font-size: xx-large;
}

/* Article section */
.float-elem{
    margin-top: 20px;
    padding-bottom: 20px;
}

.float-elem::after{
    content: "";
    display: table;
    clear: both;
}

.top-col{
    margin-bottom: 20px; 
}

.left-col, .right-col{
    float: left;
    width: 20%;
}

.mid-col{
    float: left;
    width: calc(60% - 30px);
    margin: 0px 15px;
}

/* Footer */
footer{
    margin-top: 10px;
}